raw_data/
refined_data/
data.reference.yaml
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*.log
runs/
wandb/
*.pt
*.engine
*.onnx
*.tflite
*.pb
*.weights
!models/
!models/**/*.jpg
!models/**/*.png
!models/**/*.csv
!models/**/*.yaml
!**/best.pt
